@import "./colors.scss";
@import "./media.scss";

@font-face {
	font-family: 'Min Sans';
	src: url("./../static/fonts/min-sans/MinSans-Regular.woff2") format("woff2");
}

button {
	background-color: transparent;
	border-style: none;
	color: $clr-white;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	
	&:visited {
		color: $clr-white
	}
}

body {
	background-color: #323c52;
	margin:0;
	font-family: "Min Sans";
	color: $clr-white;
}

.viewport {
	display: flex;
	justify-content:  space-between;
	flex-direction: row-reverse;
	margin: 1rem;
}

.viewport-main {
	min-width: 80%;
	max-width: 90%;
}

.viewport-center {
	min-width: 60%;
	max-width: 80%;
}

.viewport-side {
	max-width: 20%;
	min-width: 10%;
	margin: 0.5rem;
}

.button {
	padding: 10px;
	border-radius: 10px;
	transition: 0.2s;
}

.primary {
	background-color: $clr-primary;
}

.secondary {
	background-color: $clr-secondary;
}

.info {
	background-color: $clr-info;
}

.warning {
	background-color: $clr-warning;
}

.danger {
	background-color: $clr-danger;
}

.dark {
	background-color: $clr-dark;
}

.hover-primary:hover {
	background-color: $clr-primary;
}

.hover-secondary:hover {
	background-color: $clr-secondary;
}

.hover-info:hover {
	background-color: $clr-info;
}

.hover-warning:hover {
	background-color: $clr-warning;
}

.hover-danger:hover {
	background-color: $clr-danger;
}

.hover-dark:hover {
	background-color: $clr-dark;
}
